<div class="plans banner_principal uk-width-1-1"  style="background-size: cover; background-repeat: no-repeat; min-height: 100%">
	<div class="uk-vertical-align uk-height-2-2">
        <div class="uk-vertical-align-middle uk-text-left" style="margin: 5%;">
        	<div class="uk-panel uk-panel-box">
				<% if @subscription %>
					<h4>Assinatura plano  <%= @subscription.plan.name  %></h4>
					<p>ID da assinatura : <%= @subscription.iugu_identifier %></p>
				<% else %>
					<p>Você não possui assinaturas</p>
					<% if @user.in_trial? %>
						<p>Seu periodo de testes expira em <%= @user.remaining_trial_days %> dias</p>
					<% end %>
				<% end %>
				<div class="uk-text-center">
				<%= link_to("CLIQUE AQUI PARA SAIR", destroy_user_session_path, :method => :delete, :class => "uk-button", :style => "font-size: 10px !important;", "data-uk-tooltip" => "{pos:'top'}", "title" => "Clique para sair" )%>
				<%= link_to("CLIQUE AQUI PARA FAZER UMA BUSCA", '/', :method => :get, :class => "uk-button", :style => "font-size: 10px !important;", "data-uk-tooltip" => "{pos:'top'}", "title" => "Busca por produtos" )%>
				</div>
			</div>
			<!--
			<div class="uk-panel uk-panel-box" style="margin-top:5px;">
				<h4>Pagamentos</h4>
				<% if @user.invoices  %>
					
				<% else %>
					a
				<% end %>
			</div>
			-->
		</div>
	</div>
</div>

