<div class="banner_principal uk-width-1-1"  style="background-size: cover; height: 100%; background-repeat: no-repeat;">

<div class="uk-vertical-align uk-text-center uk-height-2-2">
            <div class="uk-vertical-align-middle" style="width: 450px; margin: 10%;">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => 'uk-panel uk-panel-box uk-form', "method" => "put" }) do |f| %>

  <%= f.hidden_field :reset_password_token %>
   <span style="font-family='latolight';font-size: 24px;margin-bottom:20px;display:block;">TROQUE SUA SENHA</span>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "Nova senha", :class => "uk-width-1-1 uk-form-larg" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirme a senha", :class => "uk-width-1-1 uk-form-larg" %>
  </div>

  <div class="actions">
    <%= f.submit "Troque minha senha!" , :class => "uk-width-1-1 btn btn-primary btn-lg" , :style => "color:white;" %><br /><br />
    <%= render "devise/shared/links" %>
  </div>
<% end %>


  </div>
  </div>
  </div>