<div class="banner_principal uk-width-1-1"  style="background-size: cover; height: 100%; background-repeat: no-repeat;">

<div class="uk-vertical-align uk-text-center uk-height-2-2">
            <div class="uk-vertical-align-middle" style="width: 450px; margin: 10%;">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, :html => {:class => 'uk-panel uk-panel-box uk-form'}) do |f| %>
  <%= devise_error_messages! %>

   <span style="font-family='latolight';font-size: 24px;margin-bottom:20px;display:block;">PERDEU SUA SENHA?</span>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => "Informe seu e-mail", :class => "uk-width-1-1 uk-form-larg" %>
  </div>

  <div class="actions">
    <%= f.submit "Envie-me as instruções de troca de senha!" , :class => "uk-width-1-1 btn btn-primary btn-lg" , :style => "color:white;" %><br /><br />
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>
	</div></div>