<form class="uk-form" action="/search" accept-charset="UTF-8" method="post" style="font-family: 'latolight'">
	
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	
	<section class="search-page">
		<input type="hidden" name="search[query]" value="<%= @search.query %>">
		<div class="row">
			<div class="col-md-3 col-lg-2">
				<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									NCM <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<% @result.filters.select { |e| e.type.intern == Search::SelectionFilterType::Ncm }.each do |filter| %>
									<div>
										<input type="hidden" name="filters[][hits]" value="<%= filter.hits %>">
										<input type="hidden" name="filters[][type]" value="<%= filter.type %>">
										<input type="hidden" name="filters[][value]" value="<%= filter.value %>">
										<input type="checkbox" name="filters[][selected]" <%= filter.selected ? "checked" : ""  %> value="true">
										<span class="ncm-hovertip"><%= filter.value  %></span>
										<span class="badge">
										<%= filter.hits %></span>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				
				<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
									País de origem <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<% @result.filters.select { |e| e.type.intern == Search::SelectionFilterType::CountryOrigin }.each do |filter| %>
									<div data-uk-tooltip="{pos:'top-left'}" title="<%= filter.value %>">
										<input type="hidden" name="filters[][hits]" value="<%= filter.hits %>">
										<input type="hidden" name="filters[][type]" value="<%= filter.type %>">
										<input type="hidden" name="filters[][value]" value="<%= filter.value %>">
										<input type="checkbox" name="filters[][selected]" <%= filter.selected ? "checked" : ""  %> value="true">
									    <img class="flag flag-<%= filter.value.downcase %>" data-toggle="tooltip" data-placement="bottom" />
										<span class="badge"><%= filter.hits %></span>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
									País de Aquisição <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<% @result.filters.select { |e| e.type.intern == Search::SelectionFilterType::CountryAquisition }.each do |filter| %>
									<div data-uk-tooltip="{pos:'top-left'}" title="<%= filter.value %>">
										<input type="hidden" name="filters[][hits]" value="<%= filter.hits %>">
										<input type="hidden" name="filters[][type]" value="<%= filter.type %>">
										<input type="hidden" name="filters[][value]" value="<%= filter.value %>">
										<input type="checkbox" name="filters[][selected]" <%= filter.selected ? "checked" : ""  %> value="true">
									    <img class="flag flag-<%= filter.value.downcase %>" data-toggle="tooltip" data-placement="bottom" />
										<span class="badge"><%= filter.hits %></span>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-group" id="accordion8" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingEigth">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion8" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
									Período <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>

						<div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEigth">

							<div class="panel-body">

							<small>De:</small>

							<input type="date" name="date_range_filters[<%= Search::DateRangeFilterType::Period %>][from]" value="<%= @result.date_range_filters[Search::DateRangeFilterType::Period.to_s].from %>">

							  <small>Até:</small>
							  <input type="date" name="date_range_filters[<%= Search::DateRangeFilterType::Period.to_s %>][to]" value="<%= @result.date_range_filters[Search::DateRangeFilterType::Period.to_s].to %>">

						      
						      <input class="uk-button uk-button-mini pull-right" type="button" value="Aplicar" />

							</div>

						</div>
					</div>
				</div>



				<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
									Valor total <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>

						<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">

							<div class="panel-body">

							<% if @result.range_filters[Search::RangeFilterType::TotalValue.to_s] != nil %>
								<input type="hidden" name="range_filters[<%= Search::RangeFilterType::TotalValue %>][min]" value="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].min %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::TotalValue.to_s %>][max]" value="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].max %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::TotalValue.to_s %>][min_range]" value="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].min_range %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::TotalValue.to_s %>][max_range]" value="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].max_range %>">

							  <input type="text" id="amount" readonly style="text-align:center;font-weight:bold;margin-top:0px !important;">

						      <div id="total-value-slider" 
						      		class="slider-range"  
						      		data-min-range="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].min_range %>" 
						      		data-max-range="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].max_range %>" 
						      		data-min="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].min %>" 
						      		data-max="<%= @result.range_filters[Search::RangeFilterType::TotalValue.to_s].max %>" 
						      		data-max-field="input[name='range_filters[<%= Search::RangeFilterType::TotalValue.to_s %>][max]']" 
						      		data-min-field="input[name='range_filters[<%= Search::RangeFilterType::TotalValue.to_s %>][min]']" 
						      		data-display="#amount" 
						      		data-display-prefix="$">
						      </div>
						      <input class="uk-button uk-button-mini pull-right" type="button" value="Aplicar" />

						      		<% else %>
						      			<%= @result.range_filters %>
						      		<% end %>

							</div>

						</div>
					</div>
				</div>



				<div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFive">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
									Valor unitário <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>

						<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">

							<div class="panel-body">

							<% if @result.range_filters[Search::RangeFilterType::UnityValue.to_s] != nil %>
								<input type="hidden" name="range_filters[<%= Search::RangeFilterType::UnityValue %>][min]" value="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].min %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::UnityValue.to_s %>][max]" value="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].max %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::UnityValue.to_s %>][min_range]" value="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].min_range %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::UnityValue.to_s %>][max_range]" value="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].max_range %>">

							  <input type="text" id="amount-unity" readonly style="text-align:center;font-weight:bold;margin-top:0px !important;">

						      <div id="total-value-slider" 
						      		class="slider-range"  
						      		data-min-range="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].min_range %>" 
						      		data-max-range="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].max_range %>" 
						      		data-min="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].min %>" 
						      		data-max="<%= @result.range_filters[Search::RangeFilterType::UnityValue.to_s].max %>" 
						      		data-max-field="input[name='range_filters[<%= Search::RangeFilterType::UnityValue.to_s %>][max]']" 
						      		data-min-field="input[name='range_filters[<%= Search::RangeFilterType::UnityValue.to_s %>][min]']" 
						      		data-display="#amount-unity" 
						      		data-display-prefix="$">
						      </div>
						      <input class="uk-button uk-button-mini pull-right" type="button" value="Aplicar" />

						      		<% else %>
						      			<%= @result.range_filters %>
						      		<% end %>

							</div>

						</div>
					</div>
				</div>

				<div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSix">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
									Quantidade Comercializada <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>

						<div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">

							<div class="panel-body">

							<% if @result.range_filters[Search::RangeFilterType::Quantity.to_s] != nil %>
								<input type="hidden" name="range_filters[<%= Search::RangeFilterType::Quantity %>][min]" value="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].min %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::Quantity.to_s %>][max]" value="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].max %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::Quantity.to_s %>][min_range]" value="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].min_range %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::Quantity.to_s %>][max_range]" value="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].max_range %>">

							  <input type="text" id="amount-quantity" readonly style="text-align:center;font-weight:bold;margin-top:0px !important;">

						      <div id="total-value-slider" 
						      		class="slider-range"  
						      		data-min-range="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].min_range %>" 
						      		data-max-range="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].max_range %>" 
						      		data-min="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].min %>" 
						      		data-max="<%= @result.range_filters[Search::RangeFilterType::Quantity.to_s].max %>" 
						      		data-max-field="input[name='range_filters[<%= Search::RangeFilterType::Quantity.to_s %>][max]']" 
						      		data-min-field="input[name='range_filters[<%= Search::RangeFilterType::Quantity.to_s %>][min]']" 
									data-display="#amount-quantity"
									data-display-prefix="un. " >
						      </div>
						      <input class="uk-button uk-button-mini pull-right" type="button" value="Aplicar" />

						      		<% else %>
						      			<%= @result.range_filters %>
						      		<% end %>

							</div>

						</div>



					</div>
				</div>


				<div class="panel-group" id="accordion7" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingSeven">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
									Quantidade Aduaneira <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
								</a>
							</h4>
						</div>

						<div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">

							<div class="panel-body">

							<% if @result.range_filters[Search::RangeFilterType::Customs.to_s] != nil %>
								<input type="hidden" name="range_filters[<%= Search::RangeFilterType::Customs %>][min]" value="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].min %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::Customs.to_s %>][max]" value="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].max %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::Customs.to_s %>][min_range]" value="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].min_range %>">

							  <input type="hidden" name="range_filters[<%= Search::RangeFilterType::Customs.to_s %>][max_range]" value="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].max_range %>">

							  <input type="text" id="amount-Customs" readonly style="text-align:center;font-weight:bold;margin-top:0px !important;">

						      <div id="total-value-slider" 
						      		class="slider-range"  
						      		data-min-range="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].min_range %>" 
						      		data-max-range="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].max_range %>" 
						      		data-min="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].min %>" 
						      		data-max="<%= @result.range_filters[Search::RangeFilterType::Customs.to_s].max %>" 
						      		data-max-field="input[name='range_filters[<%= Search::RangeFilterType::Customs.to_s %>][max]']" 
						      		data-min-field="input[name='range_filters[<%= Search::RangeFilterType::Customs.to_s %>][min]']" 
									data-display="#amount-Customs"
									data-display-prefix="un. " >
						      </div>
						      <input class="uk-button uk-button-mini pull-right" type="button" value="Aplicar" />

						      		<% else %>
						      			<%= @result.range_filters %>
						      		<% end %>

							</div>

						</div>

					</div>
				</div>



			</div>

			<div class="col-md-9 col-lg-10">
				<%  if @result.products.count == 0 %>
				<div class="bs-docs" data-content="404">
					<h1>Não existem resultados para os valores pesquisados!</h1>
				</div>
				<% else %>
				<div class="bs-result">
					<div class="row">
						<div class="col-md-5">
							<p>
								Buscando por&nbsp;<span><%= @search.query %>,</span> total <%= @result.hits %> hits.
							</p>
						</div>
						<div class="col-md-5">
							<p>Total US<%= number_to_currency(@result.cif_total) %></p>
						</div>
						<div class="col-md-2">
						<!-- data, valor unit, valor total, qtde -->
							<select name="order" class="form-control">
								<option value="none">Orderna por:</option>
								<option value="date" <% if @result.sort_by == "date" %> <%= "selected" %> <% end %> >Data</option>
								<option value="unit_value" <% if @result.sort_by == "unit_value" %> <%= "selected" %> <% end %>>Valor Unitário</option>
								<option value="total_value" <% if @result.sort_by == "total_value" %> <%= "selected" %> <% end %>>Valor Total</option>
								<option value="quantity" <% if @result.sort_by == "quantity" %> <%= "selected" %> <% end %>>Quantidade</option>
							</select>
						</div>
					</div>
				</div>
				<% @result.products.each do |product| %>
				<div class="bs-docs col-md-6 col-sm-12 col-lg-4" >

					<div id="modal-<%= product["pk_ncmrf_15a"] %>" class="uk-modal" style="font-family: 'latolight'">
					    <div class="uk-modal-dialog">
					        <a class="uk-modal-close uk-close"></a>
							<div class="row">
								<div class="col-md-6">
								<br />
									<span><i class="fa fa-calendar"></i> <%= product["mes_ano"] %></span><br />
									<span><i class="fa fa-barcode"></i> Código NCM: <%= product["ncm"] %></span><br />
									<span><%= product["DESCRICAO"] %></span><br />
								</div>
								<div class="col-md-6">
									<span><img class="flag flag-<%= product["siglaPaisOrigem"].downcase %>" data-toggle="tooltip"  data-placement="bottom" /> ORIGEM : <%= product["paisOrigem"] %></span><br />
									<span><img class="flag flag-<%= product["siglaPaisAquisicao"].downcase %>" data-toggle="tooltip" data-placement="bottom" /> AQUISIÇÃO : <%= product["paisAquisicao"] %></span>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-12">
									<p><%= product["descricao_detalhada_produto"] %></p>
								</div>
							</div>
							<div class="panel panel-default">
							  <div class="panel-body" style="text-align:center;font-size: 13px;">
								<table style="width:100%;">
									<tr>
										<td>Qtd. Comercial</td>
										<td>Un. Comercial</td>
										<td>Qtd. Aduaneira</td>
										<td>Un. Aduaneira</td>
									</tr>
									<tr>
										<td><%= product["quantidade_comercializada_produto"] %></td>
										<td><%= product["unidade_comercializacao"] %></td>
										<td><%= product["quantidade_aduaneira"] %></td>
										<td><%= product["unidade_aduaneira"] %></td>
									</tr>
								</table>
							</div>
							</div>
							<div class="panel panel-default">
							  <div class="panel-body" style="font-size: 12px;">
								<table class="table" style="text-align: center;">
									<thead>
										<tr>
											<td>NCM</td>
											<td>Unitário</td>
											<td>Total</td>
										</tr>
									</thead>
									<tr>
										<td>PRODUTO (FOB)</td>
										<td><%= number_to_currency(product["valor_fob_dolar_unitario"] || (product["valor_fob_dolar"] / product["quantidade_comercializada_produto"])  ) %></td>
										<td><%= number_to_currency(product["valor_fob_dolar"]) %></td>
									</tr>
									<tr>
										<td>FRETE</td>
										<td><%= number_to_currency(product["valor_frete_dolar"].to_f / product["quantidade_comercializada_produto"].to_f)  %></td>
										<td><%= number_to_currency(product["valor_frete_dolar"]) %></td>
									</tr>
									<tr>
										<td>SEGURO</td>
										<td>
										<% if product["valor_seguro_dolar"].to_i != 0 %>
											<%= number_to_currency(product["valor_seguro_dolar"].to_f / product["quantidade_comercializada_produto"].to_f)  %>
										<% else %>
											0
										<% end %>
										</td>
										<td>
										<% if product["valor_seguro_dolar"].to_i != 0 %>
											<%= number_to_currency(product["valor_seguro_dolar"])  %>
										<% else %>
											0
										<% end %>
										</td>
									</tr>
									<tr>
										<td>CIF</td>
										<td><%= number_to_currency(product["CIF_unitario"]) %></td>
										<td><%= number_to_currency(product["CIF"]) %></td>
									</tr>
								</table>
							</div>
							</div>
							<div class="panel panel-default">
							  <div class="panel-body" style="font-size: 12px;">
								<table class="table" style="text-align: center;">
									<thead>
										<tr>
											<td>Impostos</td>
											<td>BC</td>
											<td>Aliq.</td>
											<td>Unitário</td>
											<td>Total</td>
										</tr>
									</thead>
									<tr>
										<td>II</td>
										<td><%= number_to_currency(product["CIF"]) %></td>
										<td><%= product["ALIQUOTA_II"] %>%</td>
										<td><%= calc_unit(product,"ALIQUOTA_II")  %></td>
										<td><%= calc_total(product,"ALIQUOTA_II")  %></td>
									</tr>									
									<tr>
										<td>IPI</td>
										<td><%= number_to_currency(product["CIF"]) %></td>
										<td><%= product["ALIQUOTA_IPI"] %>%</td>
										<td><%= calc_unit(product,"ALIQUOTA_IPI")  %></td>
										<td><%= calc_total(product,"ALIQUOTA_IPI")  %></td>
									</tr>
									<tr>
										<td>PIS</td>
										<td><%= number_to_currency(product["CIF"]) %></td>
										<td><%= product["ALIQUOTA_PIS_ADVAL"] %>%</td>
										<td><%= calc_unit(product,"ALIQUOTA_PIS_ADVAL")  %></td>
										<td><%= calc_total(product,"ALIQUOTA_PIS_ADVAL")  %></td>
									</tr>
									<tr>
										<td>COFINS</td>
										<td><%= number_to_currency(product["CIF"]) %></td>
										<td><%= product["ALIQUOTA_COFINS_ADVAL"] %>%</td>
										<td><%= calc_unit(product,"ALIQUOTA_COFINS_ADVAL")  %></td>
										<td><%= calc_total(product,"ALIQUOTA_COFINS_ADVAL")  %></td>
									</tr>									
									<tr>
										<td></td>
										<td>TOTAL</td>
										<td><%= calc_sum_percent(product) %> </td>
										<td><%= calc_sum_unit(product) %> </td>
										<td><%= calc_sum_total(product) %> </td>
									</tr>

								</table>	
							</div>
							</div>
					    </div>
					</div>

					<a href="#modal-<%= product["pk_ncmrf_15a"] %>" data-uk-modal style="text-decoration:none;color:black;">
						<div class="row">
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-5">
										<div>
											<span data-uk-tooltip title="ORIGEM : <%= product["paisOrigem"] %>">
												<img class="flag flag-<%= product["siglaPaisOrigem"].downcase %>" data-toggle="tooltip"  data-placement="bottom" />
											</span>
											<span data-uk-tooltip title="AQUISIÇÃO : <%= product["paisAquisicao"] %>">
											<img class="flag flag-<%= product["siglaPaisAquisicao"].downcase %>" data-toggle="tooltip" data-placement="bottom" />
											</span>
										</div>

									</div>
									<div class="col-md-7">
										<span><%= product["ncm"] %></span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div>
											<p><%= product["descricao_detalhada_produto"].truncate(250, separator: /\s/) %></p>
										</div>
									</div>
								</div>

							</div>

							<div class="col-md-5 cif">
								<div>
									<span><strong> <%= product["mes_ano"] %></strong><span>DATA</span></span>
								<span><strong><%= product["quantidade_comercializada_produto"] %> </strong><span>PEÇAS</span></span>
								<span>
									<strong><%= number_to_currency(product["valor_fob_dolar_unitario"] || (product["valor_fob_dolar"] / product["quantidade_comercializada_produto"])  ) %></strong><span>FOB UNIT.</span>
								</span>
								<span><strong><%= number_to_currency(product["CIF"]) %></strong><span>CIF TOTAL</span></span>
								</div>
							</div>
		
						</div>
					</a>
				</div>
				<% end %>
				<% end %>				
			</div>
			<div class="col-md-12">
					<input type="hidden" name="pagination[count]" value="<%= @result.pagination.count %>" />
					<input type="hidden" id="pagination-page" name="pagination[page]" value="<%= @result.pagination.page %>" />
					<input type="hidden" name="pagination[total_pages]" value="<%= @result.pagination.total_pages %>" />
					<ul class="uk-pagination" data-uk-pagination="{items:<%= @result.hits %> , itemsOnPage:<%= @result.pagination.count %>, currentPage:<%= @result.pagination.page %>}"></ul>
				</div>
		</div>
	</section>
</form>
