<!DOCTYPE html>
<html>
<head>
  <title>Tradeadvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header data-uk-sticky="{top:-600, animation: 'uk-animation-slide-top'}" class="topo_site dark_blue uk-width-1-1" style="margin: 0px;">
        <nav>
            <div class="uk-container uk-container-center">
                <a class="uk-navbar-brand logo_box uk-hidden-small" href="/">
               <%= image_tag "logo.svg", class: "uk-margin-remove" %>
                </a>

                <div class="busca_topo uk-hidden uk-width-medium-6-10">
                    <form class="uk-form" action="/Ncm/ResumoInicialNcm">
                        <div class="uk-grid uk-grid-collapse">
                            <div class="uk-width-5-6 uk-width-medium-9-10">
                                <input class="input_busca uk-width-1-1" type="text" placeholder="Pesquisa">
                            </div>
                            <div class="uk-width-1-6 uk-width-medium-1-10">
                                <button class="button_busca uk-width-1-1"><i class="uk-icon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="uk-navbar-nav menu_top">
                    <ul class="menu_links">
                        <li>
                            <a class="uk-button" href="#"> <i class="uk-icon-user btn_icon"></i> Entrar</a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>
    </header>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
